# =============================================================================
#
# Summary
# -------
#
#   Configuration for npm.
#
# How it's used in my-dotfiles
# ----------------------------
#
#   Changes the install directory (prefix) of npm to ~/.local, along with
#   ensuring the caches live in ~/.cache.
#
# =============================================================================
color=true
cache=~/.cache/npm
prefix=~/.local/share/npm-packages
