@import 'colors.css';
/* No (default) title bar on wayland */
headerbar.default-decoration {
  /* You may need to tweak these values depending on your GTK theme */
  margin-bottom: 50px;
  margin-top: -100px;

  background: transparent;
  padding: 0;
  border: 0;
  min-height: 0;
  font-size: 0;
  box-shadow: none;
}

/* rm -rf window shadows */
window.csd,             /* gtk4? */
window.csd decoration { /* gtk3 */
  box-shadow: none;
}
