:root {
  --moonlight-desaturated-gray: #89b482;
  --moonlight-dark-blue: #89b482;
  --moonlight-blue: #1d2021;
  --moonlight-sky-blue: #89b482;
  --moonlight-cyan: #89b482;
  --moonlight-red: #ff757f;
  --moonlight-dark-red: #ff5370;
  --moonlight-light-red: #ff98a4;
  --moonlight-yellow: #ffc777;
  --moonlight-orange: #ff966c;
  --moonlight-dark-orange: #fc7b7b;
  --moonlight-teal: #89b482;
  --moonlight-green: #1d2021;
  --moonlight-purple: #89b482;
  --moonlight-pink: #fca7ea;
  --moonlight-indigo: #89b482;
  --moonlight-bright-cyan: #89b482;
  --moonlight-gray-10-alt: #89b482;
  --moonlight-gray-10: #ebdbb2;
  --moonlight-gray-9: #ebdbb2;
  --moonlight-gray-8: #89b482;
  --moonlight-gray-7: #89b482;
  --moonlight-gray-6: #1d2021;
  --moonlight-gray-5: #282828;
  --moonlight-gray-4: #282828;
  --moonlight-gray-3: #141617;
  --moonlight-gray-2: #1d2021;
  --moonlight-gray-1: #282828;
  --moonlight-gray: #f00;
  --scrollbar-chrome-size: 6px;

  --baseBG: #1d2021;
}
