/* # =============================================================================== # */
/* # Gtk Lock Style:                                                                 # */
/* # =============================================================================== # */
@define-color color0 #141b1e;
@define-color color1 #e57474;
@define-color color2 #8ccf7e;
@define-color color3 #8ccf7e;
@define-color color4 #61dcea;
@define-color color5 #c47fd5;
@define-color color6 #61dcea;
@define-color color7 #dadada;
@define-color bg #141b1e;
@define-color bg-alt #232a2d;
@define-color fg #8C977D;
* {
  all: unset;
}
window {
  background-image:
    linear-gradient(rgba(20, 27, 30, 0.8), rgba(20, 27, 30, 0.8)),
    url("/home/lli/Pictures/pix/wallpapers/VOID-WITHOUT-TEXT.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#window-box {
  background-color: alpha(@bg, 1);
  border: 1px solid @color3;
  padding: 0 8em;
  margin-right: 30em;
}
#clock-label {
  min-width: 320px;
  background-color: alpha(@color2, 0.1);
  color: @color2;
  font-weight: 900;
  font-size: 9pt;
  padding: 10px 30px;
  margin-bottom: 60px;
  border-radius: 0 0 10px 10px;
  border: 1px solid alpha(@color2, 0.5);
}
#input-label {
  font-size: 0;
}
#user-name {
  font-size: 16pt;
}
#input-field {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid @color2;
  caret-color: @color2;
  color: @color2;
}
#warning-label,
#error-label,
#unlock-button {
  margin-top: 12px;
  padding: 10px 2rem;
  margin-bottom: 20px;
}
#error-label {
  color: @color1;
}
#unlock-button {
  border-radius: 4px;
  background-color: alpha(@color2, 0.1);
  color: @color2;
  border: 1px solid alpha(@color2, 0.5);
}
